<section class="top-section">
  <div style="display: inline-flex;">
    <h2>NGX Blurhash Render</h2>
    <img
      width="50"
      height="50"
      src="https://camo.githubusercontent.com/9eecc42439347332f256a326363924551042f5b96235f972982512199476611a/68747470733a2f2f616e67756c61722e696f2f6173736574732f696d616765732f6c6f676f732f616e67756c61722f616e67756c61722e737667"
      alt="Angular_logo"
      style="margin-top: 8px;"
    >
  </div>
  <h4>A lighweight library for rendering the blurhash of images</h4>
</section>

<section class="image-section">
  <ngx-blurhash-render
    [blurHash]="'L38gy-00~qIUIUt7M{RjM{j[t7of'"
    [imageSrc]="'https://api.animetography-blog.com/api/media-upload/mediaFiles/test/31146bc10b344cdb90a13eae66102953f7.jpg'"
    [borderRadius]="'12px'"
    [width]="'300px'"
    [height]="'300px'"
  >
  </ngx-blurhash-render>
  <ngx-blurhash-render
    [blurHash]="'LEC%8T?dRy8^4-00t7Mx~Ue-.9o$'"
    [imageSrc]="'https://api.animetography-blog.com/api/media-upload/mediaFiles/test/284b4aec310d9e1036aceff74f9c107d44f.jpeg'"
    [borderRadius]="'12px'"
    [width]="'300px'"
    [height]="'300px'"
  >
  </ngx-blurhash-render>
  <ngx-blurhash-render
    [blurHash]="'LFN[.}%%9F4:L}8_XTxvxps,E3-o'"
    [imageSrc]="'https://images.pexels.com/photos/1404819/pexels-photo-1404819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
    [borderRadius]="'12px'"
    [width]="'300px'"
    [height]="'300px'"
  >
  </ngx-blurhash-render>
  <ngx-blurhash-render
    [blurHash]="'LFLXiFlC0z9G02IVVsxu5s-Pvy-o'"
    [imageSrc]="'https://images.pexels.com/photos/2607544/pexels-photo-2607544.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
    [borderRadius]="'12px'"
    [width]="'300px'"
    [height]="'300px'"
  >
  </ngx-blurhash-render>
</section>

<section class="lower-section">
  <h4>Install the package <a target="_blank" href="https://www.npmjs.com/package/ngx-blurhash-render">here</a> </h4>
</section>
